test/dental/app_client/chatroom.html
<!DOCTYPE html>
<html>
  <title>chatroom</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
     var buddy = '';
     var room = ''; 
     buddy = getParameterByName('buddy');
     room = getParameterByName('room');
     if(buddy == null)
      alert('room' + room);
    else
      alert('buddy' + buddy);
            // $.post("/chatroom",
            // {
            //   PostBuddy : buddy
            // },
            // function(data,status){
            //     //alert("Data: " + data + "\nStatus: " + status);
            //   alert(JSON.stringify(data));
            //   $("#username").html(data.user + " " +data.receiver);

            //   var socket = io.connect('/');
              
            //   socket.emit("set_name", {name : data.user , buddy : data.receiver , roomName : room});  
              
            // });
    });

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

</script>

<script type="text/javascript" src="/javascripts/chat.js"></script>
<body>
  <header id="banner">
    <h1>
    	<span id ="username"></span>
    	<a href="/logout">logout</a>
	</h1>
  </header>

  <section id="chatroom">
  <div id="welcome"></div>
  <div id="messages">
   <div id="messageAlert"></div>
  </div>
  <input id="message" type="text" placeholder="Enter your message here"/>
  <input id="send" type="button" value="Send"/>
</section>

</body>


</html>

test/dental/views/chatroom.jade
extends layout
block append head
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script.
		var uname='#{user}';
		var chatbuddy='#{receiver}';
		var room = '#{room}';
	script(type='text/javascript', src='/javascripts/chat.js')
	
block content
	section#chatroom
		div#welcome
		div#messages
			if (chat == 'null')
				div#messageAlert
					|	no messages found
			else
				each item in chat
					|  #{item.from} : #{item.message}
					br
		input#message(type='text', placeholder='Enter your message here')
		input#send(type='button', value='Send')
